body{
	margin: 0%;	
}

#container{
	width: 100%;
	margin: auto;
	position: relative;
}

header{
	text-align: center;
	margin: 35px 0px;
	font-size: 35px;
}

hr{
	margin: 0px;
	padding: 0px;
}

nav{
	width: 100%;
	float: left;
	margin: 5px;
}	

nav li{
	list-style: none;
	display: inline-block;
	margin: 5px 5px;
	font-size: 15px;
}

img{
	display: block;
	width: 400px;
	height: 150px;
	margin: 35px auto;
}

.desc{
	width: 400px;
	margin: 0px auto 25px;
	padding-top: 15px;
	padding-bottom: 75px;
	border: 1px solid black;
}

.desc p{
	margin: 0px 15px ;
}

/****************Menu Page*******************/

footer ul{
	list-style: none;
	margin: 10px;
	text-align: center;
}

footer li{
	margin: 10px;
}

ul#colA{
	margin-bottom: 125px;
}

ul#colA li {
	width: 27%;
	padding: 1%;
	display: inline-block;
	margin: 0px 1%;

}

ul#colA p {
	text-align: center;
	margin: 0px;
}

ul#colA h3{
	text-align: center;
	margin: 5px;
}

/****************Contact Us Page*******************/

table{
    border: none; 
    width: 100%;
    padding-top: 40px;
    padding-bottom: 55px;
}

#col1 {
    border: none;
    width: 150px;
		text-align: right;
}

#col2 {
    border: none;
    width: 250px;
    padding-left: 10px;
}

#col2 input{
	width: 200px;
}

#col2 select{
	width: 200px;
}

#col2 textarea{
	width: 200px;
	height: 100px;
}

.radio {
	padding: 10px 0;
}

.box{
	padding: 10px 0;
}

.button{
	width: 105px;
margin-left: 95px;
}
