
.img1 {
	height: 300px;
	background-image: url(cover.jpg);
	background-repeat: no-repeat;
	background-position: center; 
}


a{
	font-size: 24px;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: red;
}

.t1{
	border-top:3px solid black;	
}

table{
	width: 80%;
	margin: 0 auto;
}

table,th, td {
	font-size: 16px;
	font-weight: normal;
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	
}

#row{
	font-style: italic;
	background-color: yellow;
}

@font-face {
    font-family: Bungee;
    src: url(Bunge.ttf);
}

.font1{
	font-family: Bungee;
}

ul li{
	font-style: italic;
	text-align: left;
}

